/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

:root {
  --ifm-color-primary: #6356e5;
  --ifm-color-primary-dark: #4a3be1;
  --ifm-color-primary-darker: #3d2ddf;
  --ifm-color-primary-darkest: #2c1dbf;
  --ifm-color-primary-light: #7c71e9;
  --ifm-color-primary-lighter: #897feb;
  --ifm-color-primary-lightest: #afa8f2;
  --ifm-code-font-size: 90%;

  --prop-name-background: rgb(99, 86, 229, 0.15);
  --prop-name-text-color: #2c1dbf;

  --sidebar-title-color: rgba(0, 0, 0, 0.8);

  --props-divider-color: rgb(0, 0, 0, 0.1);

  --hero-description-text-color: rgba(0, 0, 0, 0.5);
  --feature-card-background: #f7fafc;

  --table-header-bgcolor: #f7fafc;
  --table-row-separator-color: #e2e8f0;

  --code-text-bgcolor: rgb(99, 86, 229, 0.1);
  --code-text-color: var(--ifm-color-primary);

  --variable-type-color: #86b805;
}

html[data-theme="dark"] {
  --ifm-background-color: #1a202c;
  --ifm-background-surface-color: #1a202c;

  --sidebar-title-color: #ffffff;

  --props-divider-color: rgb(255, 255, 255, 0.1);

  --prop-name-background: rgb(99, 86, 229, 0.15);
  --prop-name-text-color: #b1abf2;

  --hero-description-text-color: rgba(255, 255, 255, 0.5);
  --feature-card-background: #2d3748;

  --table-header-bgcolor: rgb(255, 255, 255, 0.04);
  --table-row-separator-color: rgba(255, 255, 255, 0.16);

  --code-text-bgcolor: rgb(99, 86, 229, 0.2);
  --code-text-color: var(--ifm-color-primary-lightest);

  --variable-type-color: #a2d608;
}

/* Navbar Icons */
.header-github-link:hover,
.header-discord-link:hover,
.header-twitter-link:hover {
  opacity: 0.6;
}

.header-github-link:before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
  margin-right: 5px;
}

html[data-theme="dark"] .header-github-link:before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

.header-discord-link:before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background: url("../../static/img/discord_black.svg") no-repeat;
  margin-right: 5px;
}

html[data-theme="dark"] .header-discord-link:before {
  background: url("../../static/img/discord_white.svg") no-repeat;
}

.header-twitter-link:before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background: url("../../static/img/twitter_black.svg") no-repeat;
  margin-right: 5px;
}

html[data-theme="dark"] .header-twitter-link:before {
  background: url("../../static/img/twitter_white.svg") no-repeat;
}

/* Navbar Icons END */

/*
  Mark components as "atom" or "molecules" using href attribute:
*/
.menu__link[href*="/Box"]:after,
.menu__link[href*="Center"]:after,
.menu__link[href*="Screen"]:after,
.menu__link[href*="Stack"]:after,
.menu__link[href*="Divider"]:after,
.menu__link[href*="Spacer"]:after,
.menu__link[href*="Text"]:after,
.menu__link[href*="Screen"]:after,
.menu__link[href*="Icon"]:after,
.menu__link[href*="Pressable"]:after,
.menu__link[href*="Spinner"]:after {
  content: "Atom";
  display: inline-block;
  position: relative;
  top: 1px;
  margin-right: auto;
  margin-left: 10px;
  padding: 3px 6px;
  border: 1px solid #ff6ac6;
  border-radius: 10px;
  color: white;
  background-color: #ff6ac6;
  text-transform: uppercase;
  font-size: 8px;
  line-height: 10px;
  height: 10px;
  font-weight: 700;
}

.menu__link[href*="Image"]:after,
.menu__link[href*="Avatar"]:after,
.menu__link[href*="Button"]:after,
.menu__link[href*="Input"]:after,
.menu__link[href*="CheckBox"]:after,
.menu__link[href*="Radio"]:after,
.menu__link[href*="Badge"]:after {
  content: "Molecule";
  display: inline-block;
  position: relative;
  top: 1px;
  margin-right: auto;
  margin-left: 10px;
  padding: 3px 6px;
  border: 1px solid #2ea6d4;
  border-radius: 10px;
  color: white;
  background-color: #2ea6d4;
  text-transform: uppercase;
  font-size: 8px;
  line-height: 10px;
  height: 10px;
  font-weight: 700;
}

/*
  Mark pages as "new" using href attribute:
*/
.menu__link[href*="Image"]:before,
.menu__link[href*="CheckBox"]:before,
.menu__link[href*="Radio"]:before,
.menu__link[href*="Spacer"]:before,
.menu__link[href*="Badge"]:before,
.menu__link[href*="useAccessibleColor"]:before,
.menu__link[href*="useResponsiveProp"]:before,
.menu__link[href*="typescript-support"]:before,
.menu__link[href*="typography"]:before,
.menu__link[href*="dark-mode"]:before,
.menu__link[href*="responsivity"]:before,
.menu__link[href*="cohesivity"]:before,
.menu__link[href*="pearlify"]:before {
  content: "New";
  display: inline-block;
  position: absolute;
  top: 7px;
  right: 15px;
  margin-right: -6px;
  padding: 3px 6px;
  border: 1px solid var(--ifm-color-primary);
  border-radius: 3px;
  color: var(--ifm-color-primary);
  text-transform: uppercase;
  font-size: 10px;
  line-height: 10px;
  height: 10px;
  font-weight: 600;
}

/*
  Mark pages as "updated" using href attribute:
*/
.menu__link[href*="Stack"]:before,
.menu__link[href*="Avatar"]:before,
.menu__link[href*="default-theme"]:before {
  content: "Updated";
  display: inline-block;
  position: absolute;
  top: 7px;
  right: 15px;
  margin-right: -6px;
  padding: 3px 6px;
  border: 1px solid #ff7f50;
  border-radius: 3px;
  color: #ff7f50;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 10px;
  height: 10px;
  font-weight: 600;
}

code {
  background-color: var(--code-text-bgcolor);
  padding: 2px 5px;
  color: var(--code-text-color);
  box-shadow: none;
  border: none;
}

highlight {
  color: var(--ifm-color-primary);
}

table,
thead,
tr,
th,
td {
  border: none !important;
}

table thead tr th {
  padding: 5px 10px;
  text-align: left;
  font-weight: bolder;
  font-size: smaller;
}

tr {
  border-bottom: 1px solid var(--table-row-separator-color) !important;
}

tbody tr {
  background-color: transparent !important;
  font-size: 14px;
}

tbody tr td {
  padding: 10px 10px;
}

thead tr {
  background-color: var(--table-header-bgcolor);
}

h1 {
  font-size: xx-large;
  font-weight: 800;
  margin-top: 20px;
}

h2 {
  margin-top: 40px !important;
  font-size: x-large;
}

h3 {
  margin-top: 60px !important;
  font-size: large;
}

h4 {
  font-size: 16px;
}

t {
  font-weight: 500;
  color: var(--variable-type-color);
}

.docusaurus-highlight-code-line {
  background-color: rgba(255, 255, 255, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.theme-doc-sidebar-item-category {
  margin-bottom: 30px;
}

a.menu__link:not([href]) {
  margin: 10px 0px;
  font-size: small;
  text-transform: uppercase;
  font-weight: bolder;
  color: var(--sidebar-title-color);
}

/* Adjust footer link colors */
#__docusaurus > footer > div > div.text--center > div > a {
  color: unset;
}

#__docusaurus > footer > div > div.text--center > div > a:hover {
  color: var(--ifm-link-color);
  text-decoration: underline;
}
